/* Basic */
/* latin-ext */
	@font-face {
	  font-family: 'Lato';
	  font-style: normal;
	  font-weight: 300;
	  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
	  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
	}
	/* latin */
	@font-face {
	  font-family: 'Lato';
	  font-style: normal;
	  font-weight: 300;
	  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}
	/* latin-ext */
	@font-face {
	  font-family: 'Lato';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
	  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
	}
	/* latin */
	@font-face {
	  font-family: 'Lato';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
	  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	body {
		color: black;
		font-family: 'lato';
		font-style: normal;
		font-weight: 300;
		margin: 0;
		padding: 0;
	}

	.text-center {
		text-align: center;
	}

/* Container */
	.container {
		background-color: white;
		padding: 1em 3em .5em 3em;
		width: 550px;
	}


/* Section: Header */
	#header {
		text-align: center;
	}
		#header h2 {
			font-size: 30px;
			margin: 0;
		}

		#header p {
			margin-bottom: 2em;
			text-align: left;
			line-height: 1.4em;
		}

		.logo {
			width: 200px;
		}

/* Section: Content */
	#content {
		background-color: #F5F5F5;
		border: solid 1px black;
		border-radius: 10px;
		padding: 1.3em;
	}

	/* Order details top */
		.order-details {
			font-weight: bold;
			width: 100%;
		}

			.order-details td:first-child {
				text-align: left;
			}

			.order-details td:last-child {
				text-align: right;
			}

	/* Info about gift cards */
		.card-table {
			border-collapse: collapse;
			margin-top: 1em;
			text-align: left;
			font-size: 14px;
		}
			.card-table td {
				padding-top: 0.4em;
				padding-bottom: 0.3em;
			}
			.card-table th {
				border-bottom: solid 1px black;
				font-size: 16px;
			}
			
			.card-table tr td:nth-child(2) {
				padding-left: 1em;
			}

			.card-table img {
				width: 100%;
			}

			.card-table-footer th{
				line-height: 2em;
				border-top: solid 1px black;
				border-bottom: none;
			}

			.card-table-footer td{
				line-height: 1.4em;
			}

/* Section: Footer */

	#footer h2 {
		text-align: center;
		margin: 0em;
	}


	hr {
		border: 0;
     	height: 1px;
     	margin: 15px;
		background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
       	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	}





